---
title: Forms
category: styleguide
status: in-progress
description: "<p>Mauris convallis hendrerit ipsum quis ultricies. Aliquam ornare tincidunt ultrices. Sed tincidunt lacus et diam gravida ultricies. Suspendisse eu nunc a turpis molestie mollis eget in ligula. Vestibulum ultrices lacinia erat et tristique. Suspendisse orci magna, tincidunt ut velit sed, elementum maximus lacus.</p><p>Suspendisse ut erat vitae neque facilisis tempor. Donec pellentesque, turpis at semper mollis, justo nisl pharetra risus, consequat ornare turpis enim at odio.</p>"
---

<section class="gko-ptrnlab-colours">
	<header class="gko-ptrnlab-doc-header">
		<h1 class="gko-ptrnlab-doc-header__heading">Input fields</h1>
	</header>

	{{> input forms.input-optional }}

	{{> input forms.input-password }}

	{{> input forms.input-website }}

	{{> input forms.input-email }}

	{{> input forms.input-search }}

	{{> textarea forms.textarea-optional }}
</section>

<section class="gko-ptrnlab-colours">
	<header class="gko-ptrnlab-doc-header">
		<h1 class="gko-ptrnlab-doc-header__heading">Select field</h1>
	</header>

	{{> select forms.select-optional }}
</section>

<section class="gko-ptrnlab-colours">
	<header class="gko-ptrnlab-doc-header">
		<h1 class="gko-ptrnlab-doc-header__heading">Checkbox</h1>
	</header>

	{{> checkbox forms.checkbox }}
</section>

<section class="gko-ptrnlab-colours">
	<header class="gko-ptrnlab-doc-header">
		<h1 class="gko-ptrnlab-doc-header__heading">Radio buttons</h1>
	</header>

	{{> radio forms.radio }}
</section>

<section class="gko-ptrnlab-colours">
	<header class="gko-ptrnlab-doc-header">
		<h1 class="gko-ptrnlab-doc-header__heading">Buttons</h1>
	</header>

	<div class="o-form__field">
		<button class="c-button c-button--primary">Primary Button</button>
	</div>

	<div class="o-form__field">
		<button class="c-button c-button--secondary">Secondary Button</button>
	</div>

	<div class="o-form__field">
		<button class="c-button c-button--disabled" disabled="disabled">Disabled Button</button>
	</div>
</section>
