---
title: Icons
category: styleguide
---

<aside class="gko-ptrnlab-side-content" role="complementary">
	<h1>Icons</h1>
	<p>Mauris convallis hendrerit ipsum quis ultricies. Aliquam ornare tincidunt ultrices. Sed tincidunt lacus et diam gravida ultricies. Suspendisse eu nunc a turpis molestie mollis eget in ligula. Vestibulum ultrices lacinia erat et tristique. Suspendisse orci magna, tincidunt ut velit sed, elementum maximus lacus.</p>
	<p>Suspendisse ut erat vitae neque facilisis tempor. Donec pellentesque, turpis at semper mollis, justo nisl pharetra risus, consequat ornare turpis enim at odio.</p>
</aside>

<main class="gko-ptrnlab-main-content">
	<section class="gko-ptrnlab-icons">
		<header class="gko-ptrnlab-doc-header">
			<h1 class="gko-ptrnlab-doc-header__heading"><span style="font-weight:normal;">SS</span> Pika</h1>
		</header>

		<ul class="gko-ptrnlab-icons__list">
			{{#each colours.core-colours}}
				<li class="gko-ptrnlab-icons__item">
					<i class="icon--"></i>
				</li>
			{{/each}}
		</ul>
	</section>
</main>