html,
.gko-ptrnlab {
	height: 100%;
}


.gko-ptrnlab-status:before {
	background: #efefef;
	border-radius: 100%;
	box-sizing: border-box;
	display: inline-block;
	height: 36px;
	padding: 4px;
	text-align: center;
	width: 36px;
}

.gko-ptrnlab-status--not-started:before {
	content: 'x';
}

.gko-ptrnlab-status--in-progress:before {
	content: 'i';
}

.gko-ptrnlab-status--done:before {
	content: 'd';
}


/* ===========================================================

	# HEADER/NAV

=========================================================== */

.gko-ptrnlab-header__logo svg {
	margin-bottom: -6px;
}

.gko-ptrnlab-nav__list,
.gko-ptrnlab-nav__item__list,
.gko-ptrnlab-nav__item__item__list {
	list-style: none;
	margin: 0;
}

.gko-ptrnlab-nav__item,
.gko-ptrnlab-nav__item__item,
.gko-ptrnlab-nav__item__item__item {
	margin: 0;
}

.gko-ptrnlab-nav__item__list {
	display: none;
}

@media only screen and (max-width: 799px) {
	.gko-ptrnlab-header__inner {
		background: #F7F7F7;
		padding: 0 20px;
		width: 100%;
	}

	.gko-ptrnlab-header__logo {
		display: inline-block;
		padding: 10px 0;
		width: 50%;
	}

	.gko-ptrnlab-header__toggle-nav {
		float: right;
		padding: 15px 0;
		text-align: right;
		width: 25%;
	}

	.gko-ptrnlab-status--header {
		display: none;
	}

	.gko-ptrnlab-nav {
		background: #F7F7F7;
		padding-bottom: 10px;
	}

	.gko-ptrnlab-nav__link {
		display: block;
		padding: 5px 20px;
	}
}

@media only screen and (min-width: 800px) {
	.gko-ptrnlab {
		padding-left: 60px;
	}

	.gko-ptrnlab-header {
		background: #F7F7F7;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 60px;
		z-index: 100;
	}

	.gko-ptrnlab-header__logo {
		display: block;
		padding: 13px;
		text-align: center;
	}

	.gko-ptrnlab-header__toggle-nav {
		display: none;
	}

	.gko-ptrnlab-nav__item:hover .gko-ptrnlab-nav__link {
		background: #efefef;
	}

	.gko-ptrnlab-nav__item:hover .gko-ptrnlab-nav__item__list {
		display: block;
	}

	.gko-ptrnlab-nav__link {
		display: block;
		padding: 18px 14px 10px;
		text-align: center;
	}

	.gko-ptrnlab-nav__link__label {
		display: none;
	}

	.gko-ptrnlab-nav__label {
		display: none;
	}

	.gko-ptrnlab-nav__item__list {
		background: #efefef;
		height: 100%;
		left: 60px;
		position: fixed;
		top: 0;
		width: 400px;
	}

	.gko-ptrnlab-nav__item__item__heading {
		display: block;
		padding: 40px 40px 20px 40px;
	}

	.gko-ptrnlab-nav__item__item__link {
		display: block;
		padding: 10px 40px;
	}

	.gko-ptrnlab-status--header {
		bottom: 20px;
		left: 12px;
		position: absolute;
	}

	.gko-ptrnlab-status--header:before {
		background: #fff;
	}
}


/* ===========================================================

	# LISTING

=========================================================== */

.gko-ptrnlab-list {
	list-style: none;
	margin: 0;
}

.gko-ptrnlab-list__item {
	margin: 0;
}

.gko-ptrnlab-list__item h2 {
	padding: 40px 60px 20px 60px;
}

.gko-ptrnlab-list__item .gko-ptrnlab-status {
	float: right;
}

.gko-ptrnlab-list__link {
	display: block;
	padding: 15px 60px;
}



/* ===========================================================

	# STYLEGUIDE CONTENT

=========================================================== */

.gko-ptrnlab-side-content,
.gko-ptrnlab-main-content {
	padding: 40px 20px;
}

@media only screen and (min-width: 600px) {
	.gko-ptrnlab-side-content,
	.gko-ptrnlab-main-content {
		padding: 40px 60px;
	}
}

@media only screen and (min-width: 1000px) {
	.gko-ptrnlab-side-content {
		height: 100%;
		padding: 40px 30px;
		left: 60px;
		overflow: scroll;
		position: fixed;
		top: 0;
		width: calc(33.3333333333% - 20px);
	}

	.gko-ptrnlab-main-content {
		float: right;
		padding: 40px 30px;
		width: 66.6666666667%;
	}
}

@media only screen and (min-width: 1200px) {
	.gko-ptrnlab-side-content {
		padding: 40px 60px;
	}

	.gko-ptrnlab-main-content {
		padding: 40px 60px;
	}
}


/* ===========================================================

	# STYLEGUIDE COLOURS

=========================================================== */

.gko-ptrnlab-colours + .gko-ptrnlab-colours {
	margin-top: 60px;
}

.gko-ptrnlab-colours__list {
	list-style: none;
}

.gko-ptrnlab-colours__item {
	margin: 0;
	margin-bottom: 10px;
}

.gko-ptrnlab-colours__colour {
	border-radius: 3px;
	height: 100px;
	width: 100%;
}

.gko-ptrnlab-colours__item__list {
	font-size: 0.8em;
	list-style: none;
	margin: 0;
	padding: 10px 5px 5px;
}

.gko-ptrnlab-colours__item__item {
	margin: 0;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
	.gko-ptrnlab-colours__item__item {
		display: inline-block;
	}

	.gko-ptrnlab-colours__item__item + .gko-ptrnlab-colours__item__item {
		margin-left: 20px;
	}
}

@media only screen and (min-width: 1000px) {
	.gko-ptrnlab-colours__list {
		clear: both;
		margin-left: -20px;
		overflow: hidden;
	}

	.gko-ptrnlab-colours__item {
		float: left;
		padding-left: 20px;
		width: 50%;
	}
}

@media only screen and (min-width: 1200px) {
	.gko-ptrnlab-colours__item {
		width: 33.3333333333%;
	}
}

@media only screen and (min-width: 1400px) {
	.gko-ptrnlab-colours__item {
		width: 25%;
	}
}
