/* ===========================================================

	#ABBR

	<abbr title="hyper text markup language">HTML</abbr>

=========================================================== */

abbr {
	color: $pri;
	font-variant: small-caps; // https://developer.mozilla.org/en-US/docs/CSS/font-variant
	font-weight: 600;
	text-transform: lowercase;
}

abbr[title] {
	cursor: help; // cursor changed to a question mark when it has a title
}