/* ===========================================================

	#ANCHOR

=========================================================== */

a {
	color: $pri;
	transition: color $speed ease;

	&:hover {
		color: $sec;
	}

	&:focus {
		text-decoration: underline;
	}
}