/* ===========================================================

	#CODE

=========================================================== */

code {
	font-family: monospace;
	line-height: $line-height;
	overflow-x: auto;
	word-break: break-word;
}