/* ===========================================================

	#PULLQUOTE

	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>

=========================================================== */

.pull-quote {
	position: relative;
	padding: 1em;

	&:before,
	&:after {
		font-size: 4em;
		opacity: .3;
		position: absolute;
	}

	&:before {
		content: '“';
		left: 0;
		top: 2rem;
	}

	&:after {
		bottom: -2rem;
		content: '”';
		right: 0;
	}
}