// ===========================================================
//
//	$BLOCKQUOTE
//
//	<figure>
//		<blockquote class="blockquote" cite="">
//			<p></p>
//		</blockquote>
//		<figcaption>
//			<cite>
//				<small><a href=""></a></small>
//			</cite>
//		</figcaption>
//	</figure>
//
// ===========================================================

blockquote {
	margin-bottom: 18px;
	margin-bottom: 1.8rem;
	margin-top: 18px;
	margin-top: 1.8rem;
	text-indent: 2em;
	color: #7e7e7e;
}

figure {
	margin: 20px auto;
	margin: 2rem auto 2rem;
}

.blockquote + figcaption {
	display: block;
	font-size: inherit;
	text-align: right;
}

.blockquote + figcaption:before {
	content: "-"; /* "-" is your citation flourish */
}