// ===========================================================
//
//	$HEADINGS
//
// ===========================================================

$type-scale: 1.200; // Perfect Fourth

$small:		$base-font-size		/	$type-scale;
$zeta: 		$base-font-size;
$epsilon: 	$zeta		*	$type-scale;
$delta: 	$epsilon	*	$type-scale;
$gamma: 	$delta	*	$type-scale;
$beta: 		$gamma	*	$type-scale;
$alpha: 	$beta	*	$type-scale;
$mega:		$alpha	*	$type-scale;
$giga:		$mega	*	$type-scale;
$tera: 		$giga	*	$type-scale;

$intro: $alpha;

.tera {
	@include heading-font-size($tera);
}

.giga {
	@include heading-font-size($giga);
}

.mega {
	@include heading-font-size($mega);
}

h1,
.alpha {
	@include heading-font-size($alpha);
}

h2,
.beta {
	@include heading-font-size($beta);
}

h3,
.gamma {
	@include heading-font-size($gamma);
}

h4,
.delta {
	@include heading-font-size($delta);
}

h5,
.epsilon {
	@include heading-font-size($epsilon);
}

h6,
.zeta {
	@include heading-font-size($zeta);
}

small,
.small {
	font-size: small;
}

@include respond-min( $mq-medium ) {

	$type-scale: 1.200; // Perfect Fifth

	$small:		$base-font-size		/	$type-scale;
	$zeta: 		$base-font-size;
	$epsilon: 	$zeta		*	$type-scale;
	$delta: 	$epsilon	*	$type-scale;
	$gamma: 	$delta	*	$type-scale;
	$beta: 		$gamma	*	$type-scale;
	$alpha: 	$beta	*	$type-scale;
	$mega:		$alpha	*	$type-scale;
	$giga:		$mega	*	$type-scale;
	$tera: 		$giga	*	$type-scale;

	$intro: $alpha;

	.tera {
		@include heading-font-size($tera);
	}

	.giga {
		@include heading-font-size($giga);
	}

	.mega {
		@include heading-font-size($mega);
	}

	h1,
	.alpha {
		@include heading-font-size($alpha);
	}

	h2,
	.beta {
		@include heading-font-size($beta);
	}

	h3,
	.gamma {
		@include heading-font-size($gamma);
	}

	h4,
	.delta {
		@include heading-font-size($delta);
	}

	h5,
	.epsilon {
		@include heading-font-size($epsilon);
	}

	h6,
	.zeta {
		@include heading-font-size($zeta);
	}

	small,
	.small {
		font-size: small;
	}
}