@import '../../assets/sass/settings/global';

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-colour;
	font-family: $font-family;
	font-weight: bold;
	line-height: 1;
}

p {
	color: $text-colour;
	font-family: $font-family;
	font-size: 18px;
	line-height: $line-height;
}

a {
	color: $link-colour;
	text-decoration: none;

	&:hover {
		color: $link-colour-hover;
	}
}

.page {
	background: $background-colour;
}
