/* ===========================================================

	#ICONS

=========================================================== */

@font-face {
	font-family: 'sg-icon-font';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/sg-icon-font.eot?-40jj5h');
	src:url('../fonts/sg-icon-font.eot?#iefix-40jj5h') format('embedded-opentype'),
		url('../fonts/sg-icon-font.woff?-40jj5h') format('woff'),
		url('../fonts/sg-icon-font.ttf?-40jj5h') format('truetype'),
		url('../fonts/sg-icon-font.svg?-40jj5h#sg-icon-font') format('svg');
}

[class^="sg-icon--"], 
[class*=" sg-icon--"] {
	font-family: 'sg-icon-font';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;

	//= Better font rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sg-icon--cross:before 			{ content: '\2421'; }
.sg-icon--check:before 			{ content: '\2713'; }
.sg-icon--help:before 			{ content: '\2753'; }
.sg-icon--crop:before 			{ content: '\e201'; }
.sg-icon--paintroller:before 	{ content: '\e225'; }
.sg-icon--stamp:before 			{ content: '\e226'; }
.sg-icon--text:before 			{ content: '\ed00'; }
.sg-icon--layout:before 		{ content: '\eda0'; }
.sg-icon--save:before 			{ content: '\1f4be'; }
.sg-icon--download:before 		{ content: '\1f4e5'; }