// ===========================================================
//
//	$AUTHOR
//
// ===========================================================

.article__footer {
	background: $grey--1;
}
.article__footer__figure {
	float: left;
	margin: 0 1em 0.5em 0;
	max-width: 25rem;
	width: 40%;
}