// ===========================================================
//
//	$NAV - PUSH
//
// ===========================================================


html,
body,
#pageWrap,
#pageWrapInner {
	height: 100%;
	position: relative;
}

.nav--main {
	background-color: $dark-1;
}

.nav--main .nav__link {
	display: block;
	padding: 1rem 2rem;

	&:hover,
	&:focus {
		color: $sec;
	}
}

.nav__list {
	list-style: none;
}

.nav__item {
	margin: 0;
}

//= NO JS ================================================

.no-js {

	&.no-touch .toggle--nav--main,
	.toggle--nav--main {
		display: none;
	}

}

//= JS ===================================================

.js.touch {

	.nav--main {
		width: 28rem;
		height: 100%;
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		transform: translate3d(-100%, 0, 0);
	}

	&.csstransforms.no-csstransforms3d .nav--main {
		transition: transform $transition-speed ease, opacity $transition-speed ease, visibility $transition-speed ease;
	}

	&.csstransforms.no-csstransforms3d.nav--main-open .nav--main {
		transform: translate(0,0);
	}


	&.csstransforms3d #pageWrapInner {
		left: 0 !important;
		transform: translate3d(0, 0, 0);
		transition: transform $transition-speed ease;
		backface-visibility: hidden;
	}

	&.csstransforms3d.nav--main-open #pageWrapInner {
		transform: translate3d(28rem, 0, 0);
	}


}

@include respond-min( $mq-small ) {

	.page-header__inner {
		float: left;
		padding: 1rem 0;
	}

	.nav--main {
		float: right;
	}
	.nav--main .nav__list {
		padding: 0;
	}
	.nav--main .nav__item {
		display: inline-block;

		&:last-child {
			.main-nav__link {
				padding-right: 0;
			}
		}
	}
	.nav--main .nav__link {
		padding: 2rem 1.5rem;
	}

	//= JS ===================================================

	.js {

		.toggle--nav--main {
			display: none;
		}

		.nav--main {
			float: right;
			opacity: 1;
			position: static;
			transform: translateY( 0 );
			visibility: visible;
			width: auto;
		}
		.nav--main .nav__link {
			padding: 2rem 1.5rem;
		}
	}

}
