// ===========================================================
//
//	$NEWS
//
// ===========================================================

.news__item--meta {
	display: inline-block;
	padding-right: $line-height;

	&:last-child {
		padding-right: 0;
	}
}