@charset "UTF-8";
/* ===========================================================
                                              
                    ,--.            ,--.                        
 ,---.  ,---.  ,---.|  |,-. ,---. ,-'  '-.,--.--. ,---.  ,---.  
| .-. || .-. :| .--'|     /| .-. |'-.  .-'|  .--'| .-. :| .-. : 
' '-' '\   --.\ `--.|  \  \' '-' '  |  |  |  |   \   --.\   --. 
.`-  /  `----' `---'`--'`--'`---'   `--'  `--'    `----' `----' 
`---'                    

Authors: Rob & Kev Simpson
Version: 1.0

* TOOLS
* Variables............Globally-available variables.
* Grid.................
* Utils................Useful mixins.
* Responsive...........
* Reset................A level playing field.
*
* Typography
* Base.................Base font styles.
* Headings.............Headings and intro styles.
* Anchor...............Anchor colours.
* Lists................List margins.
* Code.................
* Small................
* Abbr.................
* Blockquote...........
* Pullquote............
*
* BASE
* Wrappers.............Wrapping and constraining elements.
* Buttons..............Button elements.
* Images...............
* Icons................
* Figure...............
* Forms................
* Tables...............
*
* MODULES
* Wrappers.............
*
* PAGES
* Page-head............The main page header.
* Page-foot............The main page footer.

=========================================================== */
/* ===========================================================

	#COLOURS

=========================================================== */
/* ===========================================================

	#TYPOGRAPHY

=========================================================== */
/* ===========================================================

	#BASE VALUES

=========================================================== */
/* ===========================================================

	#MEDIA QUERIES

=========================================================== */
/* ===========================================================

	#GRID

=========================================================== */
/* ===========================================================

	#UTILS

=========================================================== */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* ===========================================================

	#MEDIA QUERIES

=========================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ===========================================================

	#BASE

=========================================================== */
html {
  font-size: 62.5%;
}

body,
input,
textarea,
select,
button {
  color: #242424;
  font-family: 'Proxima-Nova-Soft', Arial, Helvetica, Geneva, sans-serif;
  font-size: 2rem;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.4em;
}

p + p,
p + ul,
p + ol,
ul + p,
ol + p {
  margin-top: 1.4em;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  padding-top: 1.4em;
}

em {
  font-style: italic;
}

small,
.small {
  font-size: 65%;
}

::-moz-selection {
  background: #dfe7e9;
}

::selection {
  background: #dfe7e9;
}

::-moz-selection {
  background: #dfe7e9;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  p {
    letter-spacing: 0.01em;
    word-spacing: 0.01em;
  }
}
/* ===========================================================

	#HEADINGS

=========================================================== */
.tera {
  font-size: 8.59963rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 4.29982rem;
}

.giga {
  font-size: 7.16636rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 3.58318rem;
}

.mega {
  font-size: 5.97197rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 2.98598rem;
}

h1,
.alpha {
  font-size: 4.97664rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 2.48832rem;
}

h2,
.beta {
  font-size: 4.1472rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 2.0736rem;
}

h3,
.gamma {
  font-size: 3.456rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 1.728rem;
}

h4,
.delta {
  font-size: 2.88rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 1.44rem;
}

h5,
.epsilon {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 1.2rem;
}

h6,
.zeta {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 1rem;
}

.intro {
  font-size: 4.97664rem;
}
/* ===========================================================

	#ANCHOR

=========================================================== */
a {
  color: #57b275;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
a:hover {
  color: #f05d71;
}
a:focus {
  text-decoration: underline;
}

/* ===========================================================

	#LISTS

=========================================================== */
li {
  margin: 0.35em 3rem;
  margin-right: 0;
}
li:first-child {
  margin-top: 0;
}
li:last-child {
  margin-bottom: 0;
}

/* ===========================================================

	#CODE

=========================================================== */
code {
  font-family: monospace;
  line-height: 1.4em;
  overflow-x: auto;
  word-break: break-word;
}

/* ===========================================================

	#SMALL

=========================================================== */
.small-caps {
  color: #57b275;
  font-family: monospace;
  font-size: 1.4em;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 0.125em;
  text-transform: lowercase;
}

/* ===========================================================

	#ABBR

	<abbr title="hyper text markup language">HTML</abbr>

=========================================================== */
abbr {
  color: #8e8e8e;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}

abbr[title] {
  cursor: help;
}

/* ===========================================================

	#BLOCKQUOTE

	<figure class="figure--blockquote">
		<blockquote class="blockquote" cite="">
			<p></p>
		</blockquote>
		<figcaption>
			<cite>
				<small><a href=""></a></small>
			</cite>
		</figcaption>
	</figure>

=========================================================== */
.figure--blockquote {
  margin: 2rem auto;
}

.blockquote {
  color: #8e8e8e;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-indent: 2em;
}

.blockquote + figcaption {
  display: block;
  font-size: inherit;
  text-align: right;
}

.blockquote + figcaption:before {
  content: '-';
}

/* ===========================================================

	#PULLQUOTE

	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>

=========================================================== */
.pull-quote {
  position: relative;
  padding: 1em;
}
.pull-quote:before, .pull-quote:after {
  font-size: 4em;
  opacity: .3;
  position: absolute;
}
.pull-quote:before {
  content: '“';
  left: 0;
  top: 2rem;
}
.pull-quote:after {
  bottom: -2rem;
  content: '”';
  right: 0;
}

/* ===========================================================

	#WRAPPERS

=========================================================== */
body {
  background: #faf8f5;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

.wrap--site,
.wrap--content {
  margin: 0 auto;
}

.wrap--site {
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.wrap--content {
  max-width: 67rem;
}

.section {
  padding-top: 4rem;
  padding-top: 4rem;
}
/* ===========================================================

	#BUTTONS

=========================================================== */
.button {
  border-radius: 0.4rem;
  display: inline-block;
  line-height: 1;
  padding: 1rem 1.5rem;
  -webkit-transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.button:hover, .button:focus {
  background: #f05d71;
  color: white;
}

.button--large {
  padding: 2rem 3rem;
}

.button--primary {
  background: #57b275;
  color: white;
}

.button--secondary {
  background: #f2d044;
  color: white;
}

@media only screen and (max-width: 37.49em) {
  .button {
    width: 100%;
  }

  .button + .button {
    margin-top: 1em;
  }
}
/* ===========================================================

	#IMAGES

=========================================================== */
img {
  border-radius: 0.4rem;
  max-width: 100%;
  vertical-align: top;
}

.wrap-image--small,
.wrap-image--large {
  margin: 4rem 0;
  position: relative;
}
/* ===========================================================

	#ICONS

=========================================================== */
@font-face {
  font-family: 'geckotree_icon_font';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/geckotree_icon_font.eot");
  src: url("../../fonts/geckotree_icon_font.eot?#iefix") format("embedded-opentype"), url("../../fonts/geckotree_icon_font.ttf") format("truetype"), url("../../fonts/geckotree_icon_font.woff") format("woff"), url("../../fonts/geckotree_icon_font.svg#geckotree_icon_font") format("svg");
}
[class^="icon--"],
[class*=" icon--"] {
  font-family: 'geckotree_icon_font';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--logo:before {
  content: '\e001';
}

.icon--coffee-mug:before {
  content: '\e002';
}

.icon--heart:before {
  content: '\e003';
}

.icon--briefcase:before {
  content: '\e004';
}

.icon--send:before {
  content: '\e005';
}

.icon--search:before {
  content: '\e006';
}

.icon--chat:before {
  content: '\e007';
}

.icon--feather:before {
  content: '\e008';
}

.icon--list:before {
  content: '\e009';
}

.icon--close:before {
  content: '\e012';
}

.icon--calendar:before {
  content: '\e010';
}

.icon--stopwatch:before {
  content: '\e011';
}

.icon--review:before {
  content: '\e014';
}

.icon--twitter:before {
  content: '\e019';
}

.icon--dribbble:before {
  content: '\e021';
}

.icon--tutorial:before {
  content: '\1f516';
}

.icon--download:before {
  content: '\1f4e5';
}

.icon--view:before {
  content: '\1f440';
}

.icon--news:before {
  content: '\e902';
}

.icon--design:before {
  content: '\e226';
}

.icon--instagram:before {
  content: '\e022';
}

.icon--check:before {
  content: '\2713';
}

.icon--piggybank:before {
  content: '\e545';
}

.icon--store:before {
  content: '\1f3ec';
}

.icon--user:before {
  content: '\1f464';
}

.icon--megaphone:before {
  content: '\1f4e2';
}

.icon--cross:before {
  content: '\2421';
}

.icon--info:before {
  content: '\2139';
}

.icon--arrow-left:before {
  content: '\e600';
}

.icon--arrow-down:before {
  content: '\e601';
}

.icon--arrow-right:before {
  content: '\e602';
}

figcaption {
  font-size: 1.6rem;
  padding-top: 1.4em;
  text-align: center;
}
/* ===========================================================

	#FORMS

=========================================================== */
.input,
.select,
.textarea {
  background: none;
  border: 0.2rem solid #dad5cd;
  border-radius: 0.4rem;
  margin: 0;
  padding: 1rem 1.5rem;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  width: 100%;
}
.input:focus,
.select:focus,
.textarea:focus {
  border-color: #57b275;
}

/* ===========================================================

	#LABEL

=========================================================== */
.label {
  display: block;
  padding-top: 1.4em;
  padding-bottom: 0.7em;
}
.label:first-child {
  padding-top: 0;
}

.label[for] {
  cursor: pointer;
}

/* ===========================================================

	#SELECT

=========================================================== */
.select-wrap {
  position: relative;
}

.select {
  background: none;
  position: relative;
  text-indent: 1px;
  text-overflow: '';
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrap:after {
  color: #dad5cd;
  content: '\25BE';
  padding: 1.2rem 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

/* ===========================================================

	#TEXTAREA

=========================================================== */
.textarea {
  resize: none;
}

/* ===========================================================

	#RADIO & CHECKBOX

=========================================================== */
.radio,
.checkbox {
  background: #dad5cd;
  color: white;
  cursor: pointer;
  font-family: 'geckotree_icon_font';
  line-height: 1;
  padding: .8rem 1.4rem 1.6rem 1.5rem;
  -webkit-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.radio:before,
.checkbox:before {
  content: '\2421';
}
.radio:hover,
.checkbox:hover {
  background: #f05d71;
}
.radio:checked,
.checkbox:checked {
  background: #57b275;
}
.radio:checked:before,
.checkbox:checked:before {
  content: '\2713';
}

.radio {
  border-radius: 50%;
}

.checkbox {
  border-radius: 0.4rem;
}

/* ===========================================================

	#PLACEHOLDER

=========================================================== */
::-webkit-input-placeholder {
  color: #8e8e8e;
}

:-moz-placeholder {
  color: #8e8e8e;
}

::-moz-placeholder {
  color: #8e8e8e;
}

:-ms-input-placeholder {
  color: #8e8e8e;
}

/* ===========================================================

	#TABLES

=========================================================== */
.table-responsive {
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.table {
  border-bottom: 0.2rem solid #dad5cd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  border-top: 0.2rem solid #dad5cd;
  padding: 1.5rem 2rem;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: 600;
}

@media only screen and (min-width: 37.5em) {
  .wrap--site {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .foo {
    color: #f00;
  }
}
@media only screen and (min-width: 50em) {
  body,
  input,
  textarea,
  select,
  button {
    font-size: 2rem;
  }
  .tera {
    font-size: 8.59963rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 4.29982rem;
  }

  .giga {
    font-size: 7.16636rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 3.58318rem;
  }

  .mega {
    font-size: 5.97197rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 2.98598rem;
  }

  h1,
  .alpha {
    font-size: 4.97664rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 2.48832rem;
  }

  h2,
  .beta {
    font-size: 4.1472rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 2.0736rem;
  }

  h3,
  .gamma {
    font-size: 3.456rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 1.728rem;
  }

  h4,
  .delta {
    font-size: 2.88rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 1.44rem;
  }

  h5,
  .epsilon {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 1.2rem;
  }

  h6,
  .zeta {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 1rem;
  }

  .intro {
    font-size: 4.97664rem;
  }
  .wrap--site {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .section {
    padding-top: 6rem;
    padding-top: 6rem;
  }
  .wrap-image--large {
    margin: 8rem 0;
  }
  .foo {
    color: #f00;
  }
}
@media only screen and (min-width: 62.5em) {
  .section {
    padding-top: 8rem;
    padding-top: 8rem;
  }
  .foo {
    color: #f00;
  }
}
@media only screen and (min-width: 80em) {
  .foo {
    color: #f00;
  }
}
@media only screen and (min-width: 93.75em) {
  .wrap-image--small {
    float: left;
    margin: 1em 1em 0.5em -12em;
    max-width: 48rem;
  }
  figcaption {
    color: #8e8e8e;
    line-height: 1.3;
    padding: 0;
    position: absolute;
    text-align: right;
    top: 1.4em;
    left: -18rem;
    width: 15rem;
  }
  .foo {
    color: #f00;
  }
}