// ===========================================================
//
//	$FOOTER
//
// ===========================================================

.page-footer {
	background: $dark-1;
	color: $white;
	padding: 6rem 0;
}
.page-footer .nav__list {

}
.page-footer .nav__item {

}
.page-footer .nav__link {

}