/* ===========================================================

	# ANCHOR

=========================================================== */

a {
	border-bottom: $border-width solid transparent;
	color: $pri;
	transition: border-color $transition-speed ease,
				color $transition-speed ease;

	&:hover,
	&:focus {
		border-color: $sec;
		color: $sec;
	}
}
