/* ===========================================================

	#BUTTONS

=========================================================== */

.button {
	border-radius: $border-radius;
	display: inline-block;
	line-height: 1;
	padding: 1rem 1.5rem;
	transition: background $speed ease, border $speed ease, color $speed ease;
}

.button--large {
	padding: 2rem 3rem;
}

.button--primary {
	background: $pri;
	color: #fff;

	&:hover,
	&:focus {
		background: $sec;
		color: #fff;
	}
}

.button--secondary {
	background: $sec;
	color: #fff;

	&:hover,
	&:focus {
		background: $sec;
		color: #fff;
	}
}

@include respond-max( $mq-small ) {

	.button {
		width: 100%;
	}

	.button + .button {
		margin-top: 1em;
	}

}
