// ===========================================================
//
//	$FORMS
//
// ===========================================================

.input,
.select,
.textarea {
	background: none;
	border: none;
	border-bottom: $border-width solid $border-colour;
	padding: 1rem 1.5rem;
	resize: none;
	text-indent: 1px;
	text-overflow: '';
	transition: border $transition-speed ease;
	margin: 0;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:focus {
		border-color: $pri;
	}
	&:disabled,
	&:disabled:hover {
		background: $border-colour;
		cursor: auto;
	}
}

// ===========================================================
//
//	$LABEL
//
// ===========================================================

.label {
	display: block;
	padding-top: $base-line-height;
	padding-bottom: $base-line-height / 2;

	&:first-child {
		padding-top: 0;
	}
}

// ===========================================================
//
//	$INPUT
//
// ===========================================================

.input + .input {
	margin-top: $base-line-height / 2;
}

@include respond-min( $mq-medium ) {

	.input + .input {
		margin-top: 0;
	}

	.input--half {
		@include column(6);
	}

}

// ===========================================================
//
//	$SELECT
//
// ===========================================================

.select {
	background: none;
	z-index: 1;

	&:disabled {
		z-index: 0;
	}
}
.select,
.select-wrap {
	position: relative;
}
.select-wrap:after {
	color: $border-colour;
	content: '\25BE';
	padding: 1.2rem 1.5rem;
	position: absolute;
	right: 0;
	top: 0;
}

// ===========================================================
//
//	$RADIO & CHECKBOX
//
// ===========================================================

.input--radio,
.input--checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: $grey-1;
	border-radius: $border-radius;
	color: $white;
	cursor: pointer;
	font-family: 'geckotree_icon_font';
	line-height: 1;
	padding: .8rem 1.4rem 1.6rem 1.5rem;
	transition: background $transition-speed, border $transition-speed;

	&:before {
		content: '\2421';
	}

	&:hover,
	&:focus {
		background: $sec;
	}

	&:checked {
		background: $pri;

		&:before {
			content: '\2713';
		}
	}
}
.input--radio + .label,
.input--checkbox + .label {
	display: inline-block;
}

// ===========================================================
//
//	$PLACEHOLDER
//
// ===========================================================

::-webkit-input-placeholder {
   color: $grey-1;
}
:-moz-placeholder { /* Firefox 18- */
   color: $grey-1;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $grey-1;  
}
:-ms-input-placeholder {  
   color: $grey-1;  
}
