// ===========================================================
//
//	$ICONS
//
// ===========================================================

.icon--logo {
	background: $pri;
	border: .3rem solid $dark-1;
	border-radius: 50%;
	box-shadow: 0 0 0 .3rem $pri;
	display: block;
	height: 3rem;
	width: 3rem;
}