/* ===========================================================

	#IMAGES

=========================================================== */

img {
    border-radius: $border-radius;
  	max-width: 100%;
  	vertical-align: top;
}

.wrap-image--small,
.wrap-image--large {
	margin: 4rem 0;
	position: relative;
}

@include respond-min( $mq-medium ) {

	.wrap-image--large {
		margin: 8rem 0;
	}

}

@include respond-min( $mq-xx-large ) {

	.wrap-image--small {
		float: left;
		margin: 1em 1em 0.5em -12em;
		max-width: 48rem;
	}

}