// ===========================================================
//
//	$STRUCTURE
//
// ===========================================================

body {
	@include clearfix;
	background: $dark-1;
	width: 100%;
}

.wrap,
.wrap__inner {
	margin: 0 auto;
}
.wrap {
	max-width: 120rem;
}
.wrap__inner {
	max-width: 67rem;
}

.section-padding--tb {
	padding-bottom: 4rem;
	padding-top: 4rem;
}
.section-padding--lr {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@include respond-min( $mq-small ) {

	.section-padding--lr {
		padding-left: 2rem;
		padding-right: 2rem;
	}

}

@include respond-min( $mq-medium ) {

	.section-padding--tb {
		padding-bottom: 6rem;
		padding-top: 6rem;
	}
	.section-padding--lr {
		padding-left: 4rem;
		padding-right: 4rem;
	}

}

@include respond-min( $mq-large ) {

	.section-padding--tb {
		padding-bottom: 8rem;
		padding-top: 8rem;
	}

}
