/* ===========================================================

	# CAROUSEL

=========================================================== */

.c-carousel {
	overflow: hidden;
}

.c-carousel__list {
	@include clearfix;
	margin-bottom: $line-height;
	transition: transform $speed ease;
}

.c-carousel__item {
	float: left;

	img {
		border-radius: $border-radius;
		width: 100%;
	}
}


//= NAV ======================================================

.c-carousel__navigation {
	background: $border-colour;
	border-radius: 10rem;
	position: relative;
}

.c-carousel__nav-list {
	@include clearfix;
	list-style: none;
	position: relative;
	z-index: 1;
}

.c-carousel__nav-item {
	float: left;
	margin: 0;
}

.c-carousel__button {
	display: block;
	padding: 17px;
	transition: color $speed ease;
	width: 100%;

	&.is-active {
		color: #fff;
	}
}

.c-carousel__slider {
	background: $pri;
	border-radius: 10rem;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: transform $speed ease;
}

.c-carousel--2 {
	.carousel__nav-item,
	.carousel__slider {
 		width: 50%;
	}
}

.c-carousel--3 {
	.carousel__nav-item,
	.carousel__slider {
 		width: 33.3333333333%;
	}
}

.c-carousel--4 {
	.carousel__nav-item,
	.carousel__slider {
 		width: 25%;
	}
}
