/* ===========================================================

	#ARTICLE HELPER

=========================================================== */

.sg-article-helper__section {
	margin-bottom: 6rem;
}

.sg-article-helper__list {
	@include clearfix;
	list-style: none;
}

.sg-article-helper__item {
	@include clearfix;
	margin-left: 0;

	.label {
		display: inline-block;
		line-height: 1;
		padding: 1.5rem 1rem;
	}

	.input--radio {
		float: left;
	}
}

@include respond-min( $mq-medium ) {

	.sg-article-helper__list {
		text-align: center;
	}

	.sg-article-helper__item {
		@include column(2);

		.label {
			display: block;
			padding: 0 0 1rem 0;
		}

		.input--radio {
			float: none;
		}
	}

}