/* ===========================================================
                                              
 ,---.   ,--.           ,--.            ,----.           ,--.   ,--.        
'   .-',-'  '-.,--. ,--.|  | ,---.     '  .-./   ,--.,--.`--' ,-|  | ,---.  
`.  `-.'-.  .-' \  '  / |  || .-. :    |  | .---.|  ||  |,--.' .-. || .-. : 
.-'    | |  |    \   '  |  |\   --.    '  '--'  |'  ''  '|  |\ `-' |\   --. 
`-----'  `--'  .-'  /   `--' `----'     `------'  `----' `--' `---'  `----' 
               `---'                                                         

Authors: Rob & Kev Simpson
Boilerplate version: 1.0

=========================================================== */

@import "../../../assets/sass/tools/variables.scss";
@import "../../../assets/sass/tools/grid.scss";
@import "../../../assets/sass/tools/utils.scss";
@import "../../../assets/sass/tools/responsive.scss";

$sg-nav-colour:	$dark--1;
$nav-width: 6.8rem;

@import "base/wrappers.scss";
@import "base/content.scss";
@import "base/icons.scss";

@import "components/doc-heading.scss";
@import "components/nav.scss";

@import "pages/colours.scss";
@import "pages/article-helper.scss";





// ===========================================================
//
//	$LISTS
//
// ===========================================================

.sg-section__header {
	@include clearfix;
	margin-bottom: 4rem;
	padding: 3rem 0;
	position: relative;

	&:before,
	&:after {
		content: '';
		left: 0;
		position: absolute;
		width: 5rem;
	}
	&:before {
		border-top: .1rem solid $highlight-colour;
		top: 0;
	}
	&:after {
		border-bottom: .1rem solid $highlight-colour;
		bottom: 0;
	}
}
.sg-section__heading {
	display: inline-block;
	padding-bottom: 0!important;
}
.sg-section__button {
	float: right;
}
