// ===========================================================
//
//	$COLOURS
//
// ===========================================================

$white: #FFF;
$black: #000;

$dark-1: #2D2D2D;
$dark-2: #454545;

$grey-1: #EBEBEB;

$green-1: #57B275;
$green-2: #4CA769;

$pink-1: #F05D71;
$pink-2: #ED5265;

$yellow-1: #F2D044;
$yellow-2: #F2D044;


$pri: $green-1;
$pri--alt: $green-2;

$sec: $pink-1;
$sec--alt: $pink-2;

$ter: $yellow-1;
$ter--alt: $yellow-2;

// ===========================================================
//
//	$BASE VALUES
//
// ===========================================================

$base-colour: 				$black;
$border-colour:				$grey-1;
$border-width: 				0.3rem;
$border-radius: 			0.4rem;
$border-radius--rounded:	4rem;
$transition-speed: 			0.3s;

// ===========================================================
//
//	$MEDIA QUERIES
//
// ===========================================================

$mq-small: 					37.5em;		// 600px
$mq-medium: 				50em; 		// 800px
$mq-large: 					62.5em; 	// 1000px
$mq-x-large: 				80em; 		// 1280px
$mq-xx-large:				93.75em;	// 1500px
